{% extends "base.html" %}

{% block title %}Post{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                    <div class="text-muted fst-italic mb-2">Published on {{ post.publication_date }}</div>
                    {% for category in post.categories.all %}
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ category.name }}</a>
                    {% endfor %}
                    <br>
                    <a class="badge text-bg-success text-decoration-none" href="#!">Likes: {{ post.total_likes }}</a>
                </header>
                <figure class="mb-4">
                    <img class="img-fluid rounded" src="{{ post.thumbnail_url }}" alt="{{ post.title }} thumbnail">
                </figure>
                <section class="mb-5">
                    <p>{{ post.text }}</p>
                </section>
            </article>
            <section class="mb-5">
                {% if user.is_authenticated %}
                <a href="{% url 'like_post' post.id %}" class="btn btn-primary">Like</a>
                <a href="{% url 'dislike_post' post.id %}" class="btn btn-secondary">Dislike</a>
                <form method="post" action="{% url 'comment_post' post.id %}">
                    {% csrf_token %}
                    <textarea name="comment" required></textarea>
                    <button type="submit" class="btn btn-primary">Comment</button>
                </form>
                {% else %}
                <p>Debes <a href="{% url 'account_login' %}">iniciar sesion</a> para dar like o comentar.</p>
                {% endif %}
            </section>
            <section class="mb-5">
                <h3>Comments</h3>
                {% for comment in post.comments.all %}
                <div class="mb-2" {% if is_moderator %} style="background-color: #f0f8ff;" {% endif %}>
                    <strong>{{ comment.author.username }}</strong>
                    <p>{{ comment.text }}</p>
                    {% if comment.author == user or is_moderator %}
                    <a href="{% url 'delete_any_comment' comment.id %}" class="btn btn-danger">Eliminar comentario</a>
                    {% endif %}
                </div>
                {% endfor %}
            </section>

            {% if is_admin %}
            <a href="{% url 'create_post' %}" class="btn btn-primary">Crear nuevo post</a>
            {% endif %}

            {% if is_moderator %}
            {% endif %}

            {% if is_subscriber %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
