{% extends "base.html" %} {% block title %} Resume {% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center mb-4">
                    {% load static %}
                    <img src="{% static 'avatar.jpeg' %}" alt="Profile Picture" class="profile-img">
                </div>
                <div class="text-center mb-4">
                    <p>Email: correo@ucr.ac.cr</p>
                    <p>LinkedIn: linkedin.com/in/user</p>
                </div>
                <div>
                    <h3 class="text-center mb-3">Who Am I</h3>
                    <p class="text-center">Texto</p>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <h3 class="mb-3">Curriculum</h3>
                    <p>Texto</p>
                </div>
                <div>
                    <h3 class="mb-3">Technologies Known</h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Bootstrap</li>
                        <li>C#</li>
                        <li>Java</li>
                        <li>C++</li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-3">Education</h3>
                    <ul>
                        <li>Escuela Imas</li>
                        <li>Colegio Maria Inmaculada</li>
                        <li>Ingeniería en Ciencias de la Computación</li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-3">Profesional References</h3>
                    <ul>
                        <li>Juan Pérez - Gerente de Proyectos en Microsoft</li>
                        <li>María Rodríguez - Ingeniera de Software en Intel</li>
                        <li>Carlos Gómez - CTO en Startup XYZ</li>
                        <li>Ana López - Profesora de Ciencias de la Computación en la UCR</li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-3">Profesional Experience</h3>
                    <ul>
                        <li>Microsoft</li>
                        <li>Intel</li>
                    </ul>
                </div>
                <div>
                    <h3 class="mb-3">Soft Skills</h3>
                    <ul>
                        <li>Trabajo en equipo</li>
                        <li>Comunicación efectiva</li>
                        <li>Resolución de problemas</li>
                        <li>Gestión del tiempo</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}